@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family:Figtree, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

div.dt-container select.dt-input {
    padding-left: 1rem !important;
    padding-right: 1.2rem !important;
}

div.dt-container .dt-paging .dt-paging-button.current, div.dt-container .dt-paging .dt-paging-button.current:hover {
    background-color: #046c45 !important;
    color: white !important;
}